.header
{
    background-color: white;
    width:100%;
    height:40px;
    text-align: center;
    padding: 15px;
    margin: -10px 0px 10px -10px;
 
}


#link1,#link
{
    float:right;
    padding: 5px;
    color: darkgray;
}

#link
{
    margin-right: 120px;

}

#link1
{
    border-right: 1px solid darkgray;
}

body{
    background-color: darkgrey;
}

.box1{

    text-align: center;
    position: absolute;
    width: 14%;
    height: 70px;
    background-color: lightseagreen;
    color: white;
    left:130px;
    
}

#color{

    color:lightseagreen;
    padding:1.1rem;
    border-bottom: 1px solid lightgray;
    margin-top: auto;
    
}

.box2{

    margin:10px; 
    padding: 20px;
}

.main-imag
{
    float:left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    
}
.container{
    
    width: 100%;
    background-color: white;
    /* margin:30px 150px 0 120px; */
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    
}
.brand-logo{
    padding:0 10px !important;
    margin:0 15% !important;
    color:white;
    position: unset!important;
}
.section{
    margin:10px 0;
}
.card-image img{
    width:150px;
    height:150px;
}


  @media screen and (max-width: 601px) {
    .brand-logo{
        margin:auto !important;
        display: initial!important;
        padding:10px!important
        
    }
    
  }