.home-col{
    text-align: center !important;
    margin-top: 10%;
}
.home-section{
    background-image: url("../images/backgrnd2.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
    margin-top: 0px !important;
    min-width: 100%; 
    min-height: 800px;
}
.img-cls{
    min-height: 250px;
    max-width: 280px;
}

.proj-card{
    min-height: 350px;
    max-width: 350px;
}

body{
   
    font-family:'Roboto', sans-serif;
    color:rgb(44, 28, 21);
    /* background-color: rgb(240,200,128); */
}
.btn{
    background: transparent !important;
    /* color: rgb(241, 237, 217); */
    color:rgb(44, 28, 21) !important;
    height:36px !important;
}

#bar{
    height: 20px !important;
 }
 .vc_label_units {
    position: absolute;
    right: 16%;
    color: #999999;
}
	
.project-section{
    margin-top: 5%;
    padding: 3%;
    background-color: rgb(245,245,245);
}	 


#resume{
    margin-top: 10px;
}
.main-imag
{
    float:left;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    
}
/* .container{
    
    width: 100%;
    background-color: white;
    /* margin:30px 150px 0 120px; */
    /* max-width: 960px;
    margin: 0 auto;
    clear: both; */
    
/* } */ 
/* .brand-logo{
    padding:0 10px !important;
    margin:0 15% !important;
    color:white;
    position: unset!important;
} */
/* .section{
    margin:10px 0;
} */
/* .card-image img{
    width:150px;
    height:150px;
} */




  @media screen and (max-width: 601px) {
    .brand-logo{
        margin:auto !important;
        display: initial!important;
        padding:10px!important
        
    }
    .page-footer{
        position: relative !important;
    }
    
  }